body{
    background-color: gray;
    text-align:center;
    font-size: 30px;;

}

#container{
    display:flex;
    position: relative;
    width: 100%;
    height:400px;
    justify-content: space-around;
    align-items:center;
}


.buttons{
    width:300px;
    height:100px;
    font-size:30px;
    background-color:lightgray;
    text-align: center;
}

input{
    position:relative;
    width:400px;
    height:50px;
    text-align: center;
    top:50px;
    font-size:30px;
    z-index: 100;
}

#return{
    position:relative;
    width:700px;
    height:200px;
    background-color:transparent;
    bottom:170px;
    left:24%;

}

#return{
    position:relative;
    display:flex;
    width:600px;
    height:200px;
    background-color: transparent;
    bottom:100px;
    left:27%;
    color:darkblue;
    z-index: 100;
    font-size:10px;
}